
{% load static %}
<div class="container">
        <div class="banner-area">
            <div class="row">
               <div class="banner-left col-lg-6 col-md-12">
                  <div class="lg-banner banner">
                     <a href="shop.html">
                        <h2><span>Footwear</span></h2>
                        <img src="{% static 'assets/images/banner01.png' %}" alt="Image">
                     </a>
                  </div>
                  <div class="md-banner">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="md-left banner">
                              <a href="shop.html">
                                 <h2><span>Eye Glass</span></h2>
                                 <img src="{% static 'assets/images/banner03.png' %}" alt="Image">
                              </a>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="md-right banner">
                              <a href="shop.html">
                                 <h2><span>Classic belt</span></h2>
                                 <img src="{% static 'assets/images/banner04.png' %}" alt="Image">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="banner-right col-lg-6 col-md-12">
                  <div class="md-banner">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="md-left banner">
                              <a href="shop.html">
                                 <h2><span>Watch</span></h2>
                                 <img src="{% static 'assets/images/promo-left.png' %}" alt="Image">
                              </a>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="md-right banner">
                              <a href="shop.html">
                                 <h2><span>Hand Bag</span></h2>
                                 <img src="{% static 'assets/images/banner02.png' %}" alt="Image">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="lg-banner banner">
                     <a href="shop.html">
                        <h2><span>Makeup</span></h2>
                        <img src="{% static 'assets/images/banner05.png' %}" alt="Image">
                     </a>
                  </div>
               </div>
            </div>
         </div>
         