{% load static %}

             <div class="blog-area">
            <h1>Blogs</h1>
            <div class="row">
               <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="blog">
                     <img src="{% static 'assets/images/blog1.jpg' %}" alt="Image">                     
                     <div class="datetime">
                        <span><i class="far fa-calendar-alt"></i> April, 30 2017</span>
                        <span><i class="far fa-edit"></i> Gixco-Creative</span>
                     </div>
                     <h4 class="title"><a href="blog-detail.html">String Pocket Shelving Burgundy</a></h4>
                     <div class="post-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="blog">
                     <img src="{% static 'assets/images/blog2.jpg' %}" alt="Image">                     
                     <div class="datetime">
                        <span><i class="far fa-calendar-alt"></i> April, 30 2017</span>
                        <span><i class="far fa-edit"></i> Gixco-Creative</span>
                     </div>
                     <h4 class="title"><a href="blog-detail.html">String Pocket Shelving Burgundy</a></h4>
                     <div class="post-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="blog">
                     <img src="{% static 'assets/images/blog3.jpg' %}" alt="Image">                     
                     <div class="datetime">
                        <span><i class="far fa-calendar-alt"></i> April, 30 2017</span>
                        <span><i class="far fa-edit"></i> Gixco-Creative</span>
                     </div>
                     <h4 class="title"><a href="blog-detail.html">String Pocket Shelving Burgundy</a></h4>
                     <div class="post-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="newsletter-area">
            <div class="newsletter">
               <h3>KEEP UPDATED</h3>
               <p>Sign up for our newletter to recevie updates an exlusive offers</p>
               <div class="newsletter-form">
                  <input type="text" class="newsl" name="newsletter" placeholder="Enter your email">
                  <button class="newsletter-btn">Subscribe</button>
               </div>
            </div>
         </div>
         <div class="brands-area">
            <div class="carousel-area">
               <div id="brands" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="brands-item">
                           <div class="row">
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand1.png' %}" alt="brands">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand2.png' %}" alt="brands">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand3.png' %}" alt="brands">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand4.png' %}" alt="brands">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand5.png' %}" alt="brands">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand1.png' %}" alt="brands">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="brands-item">
                           <div class="row">
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand5.png' %}" alt="brands">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand4.png' %}" alt="brands">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand3.png' %}" alt="brands">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand2.png' %}" alt="brands">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand1.png' %}" alt="brands">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                 <img src="{% static 'assets/images/brands/brand5.png' %}" alt="brands">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>