{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Gixco - HTML5 eCommerce Template</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

   <!-- CSS Links -->
   <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body>

   {% include 'include/header.html' %}

   <main>
      {% block content %}{% endblock content %}
   </main>

   {% include 'include/footer.html' %}

   <!-- JS Files -->
   <script src="{% static 'assets/js/vendor/modernizr-3.7.1.min.js' %}"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="{% static 'assets/js/popper.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins.js' %}"></script>
   <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'assets/js/jquery-ui.js' %}"></script>          
   <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
   <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
   <script src="{% static 'assets/js/main.js' %}"></script>

   <!-- Google Maps API (Hidden Key) -->
   {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script> {% endcomment %}
   
     <!-- Google Analytics -->

   <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-XXXXX-Y', 'auto'); 
      ga('set', 'transport', 'beacon'); 
      ga('send', 'pageview');
   </script>

   {% block js %}{% endblock js %}
</body>
</html>
